.cardProduct{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center; 
    margin: 10px;
}



.cardProduct__containerImage{
    display: flex;
    flex: 1;
}

.cardProduct__image{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cardProduct__containerDescription{
    display: flex;
    flex: 2;
    flex-wrap: wrap;
}

.cardProduct__description{
    font-size: 0.9em;
}

.cardProduct__containerPrice{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.cardProduct__price{
    font-weight: bold;
}

.cardProduct__salePrice{
    color:  #B9B9B9;
    text-decoration: line-through;
}